
  <div class="log-in-form">
    <h1 class="login">Log In</h1>

    <%=form_for :user do |f|%>
      <%=f.text_field :email, placeholder: "Email"%> <br><br>

      <%=f.password_field :password, placeholder: "Password"%> <br><br>

      <%=f.submit "Log In", id: "submit"%>
    <%end%>

  </div>
