<%=render 'application/header'%>

<div class="page-content">
  <h1> All Experiences </h1>
  <div class="all-experiences">
    <%Experience.all.sort{|a,b| b.id <=> a.id}.each do |experience|%>
      <%=link_to "/experiences/#{experience.id}" do%>
        <div class ="experience-individual">
          <div class="top">
            <h3><%=experience.titlelize%></h3>
          </div>
          <h4><%=experience.user.first_name.capitalize%></h4>
        </div><!--experience-individual-->
      <%end%>
    <%end%>
  </div><!--all-experiences-->
</div><!--page-content-->
