<%=render 'application/header'%>

<div class="experience-show">
  <div class="left">
    <h2><%=@experience.titlelize%></h2>
    <h4><%=@experience.description%></h4>
  </div>
  <div class="right">
    <h4><%=@experience.user.first_name%></h4>
  </div>
</div>
