
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.Jcrop

 */

 * {
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: "Avenir Next";

}


body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  background-image: url("/wallpaper.jpg");
  background-repeat: no-repeat;
   background-attachment: fixed;
}

/* APPLICATION / HEADER */
/* ==================== */

.header {
  position: fixed;
  top: 0px;
  height: 40px;
  background-color: rgb(60,60,60);
  width: 100%;
  z-index: 10;
  text-align: center;
}

.header h4 {
  font-size: 17px;
  font-weight: 600;
  color: white;
  margin-top: 8px;
}

.header a {
  text-decoration: none;
}

.together {
  float: right;
  margin-top: -30px;
  margin-right: 40px;
}

.header-user-name {
  display: inline-block;
}

.header-user-name h4 {
  color: rgb(170,170,170);
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 15px;
  margin-right: 8px;
}

.header-user-name a {
  text-decoration: none;
  color: rgb(170,170,170);
}

.header-user-name h4:hover {
  color: white;
}

.together p.separator {
  color: rgb(120,120,120);
  margin-top: 0px;
  margin-right: 7px;
  display: inline-block;
}

.header-logout {
  display: inline-block;
}

.header-logout p {
  display: inline-block;
  color: rgb(170,170,170);
  font-size: 15px;
}

.header-logout a {
  color: rgb(170,170,170);
  font-family: "Avenir Next";
  font-size: 15px;
  text-decoration: none;
}

.header-logout a:hover {
  color: white;
}
