<div class="header">
  <%if logged_in?%>
    <%=link_to "/experiences" do%>
      <h4>SOL UX Research</h4>
    <%end%>
  <%end%>

  <%if logged_in?%>
    <div class="together">
      <div class="header-user-name">
        <%=link_to "/users/#{current_user.id}" do%>
          <h4><%=current_user.first_name%></h4>
        <%end%>
      </div>
      <p class="separator"> | </p>
      <div class="header-logout">
        <p><%=link_to "Log Out", logout_path%></p>
      </div>
    </div><!--together-->
  <%end%>
</div> <!-- header -->
