<div class="header">
  <h4>SOL CONNECT - UX Research</h4>

  <%if logged_in?%>
    <div class="together">
      <div class="header-user-name">
        <h4><%=current_user.first_name%></h4>
      </div>
      <p class="separator"> | </p>
      <div class="header-logout">
        <p><%=link_to "Log Out", logout_path%></p>
      </div>
    </div><!--together-->
  <%end%>
</div> <!-- header -->
